# Lab 1 - Seattle Wages and ages

##### Mauricio Garcia 9/20/19

## Abstract


 * Through this lab, I walk through the different ways to prepare a data set for analysis. 
 * The order of analyis began with the preparation of data, where the file to be analyzed is opened and a portion of it is then selected to conduct research.
 * After collecting some pieces of specific data, I come up with a conclusion and a couple of questions that could be considered for further research.
 * All in all, this lab is an examinatiton of the ages and wages from Seattle City's payroll. In th end, it is found that the range for both the wages and ages are very far apart and on both ends of the spectrum, outliers appear.

# Dataset Preparation

where, dataset was obtained, last updated, created, sample size, etc.

In the code below, I am opening and showing the first 5 entries from a file and reading it into this Jupyter notebook to read later.

In [27]:
# open the file

data_file = open("City_of_Seattle_Staff_Demographics.csv", "r");


Demographics_List = [];

#put all lines from the file into a list
for row in data_file:
    Demographics_List.append(row);
    
#close the file. It's the courteous and clean thing to do
data_file.close();

# show the first five items in the list. Notice that they are all strings
# the \n part of the string means "newline" - its the symbol that represents the end of a line
print(Demographics_List[:5]);

['Race/Ethnicity,Sex,Department,Age,Hourly Rate,Regular/Temporary,Employee Status\n', 'Hispanic or Latino,M,Municipal Court,57,29.75,R,A\n', 'Hispanic or Latino,F,Municipal Court,39,27.18,R,A\n', 'Hispanic or Latino,M,Police Department,52,59.75,R,A\n', 'Hispanic or Latino,M,Fire Department,30,38.28,R,A\n']

Now, I am going to organize all the entries in this file and organize them by columns and rows

In [ ]:
#remove the first element (column header)
# the header is useful for telling us what the columns mean, 
# but you don't want to include it in your mathematical calculations
del Demographics_List[0];

# create two empty lists - one for ages and one for wages data
# we want to make a list of just the age data and just the wage data
ages = [];
wages = [];  

# loop (go through every row one by one) through the original Demographics_List
for item in range(len(Demographics_List)):
    
    # this line is a bit confusing, but what it is doing is splitting out each comma separated item 
    # from a row and turning it into a list 
    # into 7 seperate strings 'ethnicity' 'Sex' "department" "age" 'hourly wage' 'regular or temporary' 'active status'
    # After being split, the seven separate strings are then stored in another list called Demograhpics_List
    Demographics_row = Demographics_List[item].split(",")
    
    #now that we've split the row into its two parts, we can pick and choose 
    # add the third and the fourth to specific lists for ages and wages
    ages.append(int(Demographics_row[3]))
    wages.append(float(Demographics_row[4]))
8
print("List of just the ages data:")
print(ages[:10])
print("\nList of just the wages data:")
print(wages[:10])

Now we have two columns of data in seperate lists, ages in one and wages in another list. They are ready for proccessing.

# Data Analysis and Conclusions

Next, I calculated the range of the ages and then the wages. Here is the wage range:

In [31]:
# finding the minimum and maximum numbers in a list is easy - you just call functions min and max
minNbr = min(wages)
maxNbr = max(wages)
print("the wage range is from", minNbr, "to", maxNbr, "dollars")

the wage range is from 5.53 to 162.8353 dollars

And here is the age range:

In [32]:
minNbr = min(ages)
maxNbr = max(ages)
print("The age range is from", minNbr, "to", maxNbr)

The age range is from 14 to 92

A couple of questions jump out as I take a look at this data set. 

- What occupations could a 14 year old and 92 year old be possibly occupied in?
- Why would someone be paid below minimum wage and still be included on Seattle's payroll?

I do find it interesting that when taking the extremes of a data set, a couple of odd things can pop up. My assumption for the outliers in this dataset are that the 14 year old likely works inside something like a community service location, library,or soething along those lines.

As for the 92 year old, my assumption is that they have been engaged in trade for a majority and simply continue to work. It does bring a couple of questions with it as well however:

- How long has this person been working for?
- Has this been the only job in which this indivdual has been involevd with?
- Does this person plan on retitring after a certain point?

Basically, after completing this lab, I realize there are even more questions I have, and this opens up oppurtunities for further exploration

# Acknowledgements

I want to thank Tracey Sconyers, Mark Fishman and Theo for helping me on my code to make sure things run and operate appropriately. I wouldn't have been able to do this without their help.